@model YukindieMVC.Models.Album

@{
    ViewBag.Title = "Administración de Álbumes";
}

@*Las siguientes secciones se han definido, pero no se han presentado para la página de diseño "~/Views/Shared/_Layout.cshtml": "scripts".
    @section scripts
    {
        var urlGet = '@Url.Action("Get", "Album", new { area = "Admin" })';
        var AlbumId = @ViewBag.IdAlbum;
    }*@

@section scripts
{
    <script>
        var urlGet = '@Url.Action("Get", "Album", new { area = "Admin" })';
        var urlGetSubGenero = '@Url.Action("Get", "SubGenero", new { area = "Admin" })';
        var urlGuardarAlbum = '@Url.Action("Guardar", "Album", new { area = "Admin" })';
        var AlbumId = @ViewBag.IdAlbum;
        var PerfilId = 2;
    </script>

    <script src="~/Scripts/f/Album.js"></script>
}

<div class="col-lg-12">
    <section class="box">

        <div class="content-body" style="display: block;">
            <div class="row">
                <button data-toggle="collapse" data-target="#demo">Collapsible</button>

                <div id="demo" class="collapse">
                    <label id="lblModifica"> sin modificar</label>
                </div>
            </div>
            <div class="row">
                <div class="page-header">
                    <a href="~/Admin/Album/Index" class="pull-right btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
                    <h2><strong>Nuevo Álbum</strong></h2>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            @*se debe manejar la clave como un tipo hidden*@
                            <div class="form-group">
                                <label>Clave:</label>
                                <input id="txtClave" type="text" class="form-control" placeholder="Clave del Álbum" />
                            </div>
                            <div class="form-group">
                                <label>Título:</label>
                                <input id="txtTitulo" type="text" class="form-control" placeholder="Título del Álbum" />
                            </div>
                            <div class="form-group">
                                <label>Carátula:</label>
                                <input id="FileUpload" type="file" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Publicación:</label>
                                <input type="text" id="dpFechaPublicacion" class="form-control datepickeres" />
                            </div>
                            <div class="form-group">
                                <label>Género:</label>
                                <select id="cmbSubGenero" class="form-control">
                                    @*<option>Heavy Metal</option>
                                        <option>Rock</option>
                                        <option>Punk</option>*@
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Estatus:</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="checkbox" id="chkEstatus" class="icheck-minimal-red" />
                                        Activo
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>*Formato:</label>
                                <select id="cmbFormato" class="form-control m-bot15">
                                    <option value="CD">CD</option>
                                    <option value="CD + DVD">CD + DVD</option>
                                    <option value="DIGITAL">DIGITAL</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Contenido:</label>
                                <input type="text" id="txtContenido" class="form-control" placeholder="Título del Álbum" />
                            </div>
                            <div class="form-group">
                                <label>*Url Venta:</label>
                                <input type="text" id="txtLinkCompra" class="form-control" placeholder="Título del Álbum" />
                            </div>
                            <div class="form-group">
                                <label>*Precio:</label>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <input type="text" id="txtPrecio" placeholder="A que precio venderá su producto" class="form-control" />
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="checkbox" id="chkPrecio" class="icheck-minimal-red" />
                                        Gratis
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>*Precio de Oferta:</label>
                                <div class="row">
                                    <div class="col-xs-8">
                                        <input type="text" id="txtOferta" placeholder="¿Cuenta con alguna promoción?" class="form-control" />
                                    </div>
                                    <div class="col-xs-4">
                                        <input type="checkbox" id="chkOferta" class="icheck-minimal-red" />
                                        Gratis
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Promoción:</label>
                                <input type="text" id="txtPromocion" placeholder="Promoción para sus fans" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="pull-right">
                                <button class="btn btn-yukindie" onclick="Redireccionar('Admin','Album','','')">Cancelar</button>
                                <button class="btn btn-yukindie" onclick="guardar()">Aceptar</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Album</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaPublicacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaPublicacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaPublicacion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Formato, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Formato, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Formato, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contenido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contenido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contenido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Oferta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Oferta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Oferta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LinkCompra, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LinkCompra, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LinkCompra, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Promocion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Promocion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Promocion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PerfilId, "PerfilId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PerfilId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PerfilId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SubGeneroId, "SubGeneroId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SubGeneroId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SubGeneroId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Estatus)
                        @Html.ValidationMessageFor(model => model.Estatus, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FechaRegistro, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

